<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>GCV - Tworzenie CV</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  <link rel="stylesheet" href="css/style.css">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="welcome.html">GCV</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="create.html">Stwórz CV</a>
      <a class="nav-item nav-link" href="#">Wyloguj się</a>
    </div>
  </div>
</nav>
  <div class="container" ng-app="myApp" ng-controller="myCtrl">
      <div class="row">
          <div class="col">
          <h2>Generator CV</h2>
          </div>
      </div>
  <div class="row">
    <div class="col">
      <h3>Dane kontaktowe</h3>
      <!-- <label>Imię:<input type="text" ng-model="firstName"></label> -->
      <label>Imię:<input type="checkbox">{{ firstName }}</label>
      <label>Nazwisko:<input type="text" ng-model="lastName"></label>
      <label>e-mail:<input type="email" ng-model="email"></label>
      <label>numer kontaktowy:<input type="number" ng-model="phoneNumber"></label>
      <label>adres:<input type="text" ng-model="address"></label>
      <h3>Zdjęcie</h3>
      <label>Dodaj zdjęcie</label>
      <!-- upload a file -->
      <h3>Doświadczenie</h3>
       <label>rok rozpoczęcia:<input type="text" ng-model="startDate"></label>
      <label>rok zakończenia:<input type="text" ng-model="endDate"></label>
      <label>nazwa firmy:<input type="text" ng-model="companyName"></label>
      <label>stanowisko:<input type="text" ng-model="positionName"></label>
      <label>opis zadań:<input type="text" ng-model="positionDescription"></label>
      <h3>Wykształcenie</h3>
      <label>rok rozpoczęcia:<input type="number" ng-model="schoolStartDate"></label>
      <label>rok zakończenia:<input type="number" ng-model="schoolEndDate"></label>
      <label>nazwa uczelni:<input type="text" ng-model="schoolName"></label>
      <label>kierunek:<input type="text" ng-model="schoolSubject"></label>
      <label>tytuł:<input type="text" ng-model="degree"></label>
      <h3>Kursy i szkolenia</h3>
      <label>rok:<input type="number" ng-model="courseYear"></label>
      <label>nazwa organizacji:<input type="text" ng-model="courseOrganization"></label>
      <label>nazwa szkolenia:<input type="text" ng-model="courseName"></label>
      <label>opis szkolenia:<input type="text" ng-model="courseDescription"></label>
      <h3>Znajomość języków</h3>
      <label>język obcy:<input type="text" ng-model="foreignLanguage"></label>
      <label>poziom znajomości:<input type="text" ng-model="languageLevel"></label>
      <ul>
        <li ng-repeat="x in languages">{{ x }}</li>
      </ul>
      <select>
        <option ng-repeat="x in languages">{{ x }}</option>
      </select>
      <h3>Umiejętności</h3>
      <label>nazwa umiejętności:<input type="text" ng-model="skill"></label>
      <h3>Zainteresowania</h3>
      <label>hobby:<input type="text" ng-model="hobby"></label>
    </div>
    <div class="col">
    <div class="cv">
      <h5>CV</h5>
      {{ fullName() }}<br>
      {{ email }}<br>
      {{ phoneNumber }}<br>
      {{ address }}<br>
      <h5>Doświadczenie</h5>
      {{ startDate + "-" + endDate + " " + companyName + "-" + positionName }}
      {{ positionDescription }}
      <ul>
        <li ng-repeat="x in experience">{{ x.startDate + " - " + x.endDate + " " + x.companyName + " - " + x.positionName + "(" + x.positionDescription + ")" }}</li>
      </ul>
      <h5>Wykształcenie</h5>
      {{ schoolStartDate + "-" + schoolEndDate + " " + schoolName + "-" + schoolSubject }}
      {{ degree }}
      <h5>Kursy i szkolenia</h5>
      {{ courseYear + " " + courseOrganization + " " +  courseName }}
      {{ courseDescription }}
      <h5>Języki obce</h5>
      {{ foreignLanguage + " " + languageLevel  }}
      <h5>Umięjętności</h5>
      {{ skill }}
      <h5>Hobby</h5>
      {{ hobby }}
      </div>
    </div>
  </div>
</div>
<!-- Boostrap 4 Scripts -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script src="js/angular.js"></script>
<script src="js/index.js"></script>

</body>
</html>
