<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>GCV - Wyświetlanie CV</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  <link rel="stylesheet" href="css/style.css">
</head>

<body>
<nav class="navbar navbar-light bg-light">
    <ul class="nav">
        <a class="navbar-brand" href="index.html">Generator GCV</a>
        <li class="nav-item">
            <a class="nav-item nav-link active" href="create.html">Stwórz CV</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" href="#">Wyloguj się</a>
        </li>
    </ul>
</nav>
<div class="container" ng-app="myApp" ng-controller="myCtrl">
    <h4 class="welcome">Wyświetlanie CV</h4>
    <div class="row">
        <div class="col">
            <div class="cv">
                <h5>Dane kontaktowe</h5>
                {{ personalData.firstName }}{{ personalData.lastName }}<br>
                {{ personalData.email }}<br>
                {{ personalData.phone }}<br>
                {{ personalData.birthDate }}<br>
                {{ personalData.photo }}<br>
                {{ address.city }}{{ address.postalCode }}{{ address.street }}<br>
                <h5>Doświadczenie</h5>
                <ul>
                    <li ng-repeat="x in workExperiences">{{ x.startDate + " - " + x.endDate + " " + x.company + " - " +
                        x.position + "(" + x.description + ")" }}
                    </li>
                </ul>
                <h5>Wykształcenie</h5>
                <ul>
                    <li ng-repeat="x in educations">{{ x.startDate + " - " + x.endDate + " " + x.company + " - " +
                        x.position + "(" + x.description + ")" }}
                    </li>
                </ul>
                <h5>Kursy i szkolenia</h5>
                <ul>
                    <li ng-repeat="x in courses">{{ x.name + " " + x.startDate + " - " + x.endDate }}
                    </li>
                </ul>
                <h5>Języki obce</h5>
                <ul>
                    <li ng-repeat="x in languages">{{ x.name + " - " + x.level  }}
                    </li>
                </ul>
                <h5>Umięjętności</h5>
                <ul>
                    <li ng-repeat="x in skills">{{ x.name }}
                    </li>
                </ul>
                <h5>Hobby</h5>
                <ul>
                    <li ng-repeat="x in hobbies">{{ x.name }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <input type="submit" class="btn btn-primary" value="Utwórz PDF" id="create-pdf">
        </div>
    </div>
</div>
<!-- Boostrap 4 Scripts -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script src="js/angular.js"></script>
<script src="js/show.js"></script>

</body>
</html>
