.cv {
  border: 2px solid #0275d8;
  border-style: dotted;
}
h5 {
  text-align: center;
  border-bottom: 2px solid #0275d8;
  padding-top: 10px;
  }

h2.welcome, h4.welcome {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
.btn-big {
  padding: 15%;
}
nav {
  border-bottom: 3px solid #0275d8;
}
.container {
  margin-top: 2em;
}
.user-box {
  border: 2px solid #0275d8;
  margin: 1em;
  font-size: 1em;
}
.user-view {
  display: none;
}
.guest-view {


}